.nav-item {
    position: relative;
    display: inline-block;
  }
  
  .nav-item::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #ff0066;
    transition: width 0.4s ease-in-out;
  }
  
  .nav-item:hover::after {
    width: 100%;
  }